.projects {
  width: 100%;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  .content {
    z-index: 1;
    width: 72rem;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
}