.hero {
  z-index: 1;
  color: rgb(226 232 240);
  width: 100%;
  justify-content: center;
  display: flex;
  margin-top: 68px;

  .content {
      z-index: 1;
    width: 72rem;
    display: grid;
    grid-template-columns: 1fr;

    .content-left {
        z-index: 1;
      .flow {
        color: rgb(226 232 240);
        background: rgb(24 28 40);
        border: 1px solid rgb(0 255 157 / 0.2);
        display: flex;
        align-items: center;
        .icon {
          font-size: 20px;
          margin-top: 3px;
          padding: 4px;
        }
      }
    }

    .btns {
      display: flex;
      justify-content: center;
    }

    .description {
      font-size: 20px;
      color: rgb(148 163 184);
      margin: 30px 0;
      
    }
  }

  .title {
    font-size: 57px;
    font-weight: 700;

    .lab {
      background: linear-gradient(90deg, #00ff9d, #00b36b);
      background-clip: text;
      color: transparent;
    }
  }
}

.content-right {
  .right-content {
    color:#00b36b;
  }
}

