.stack {
  z-index: 1;
  color: rgb(226 232 240);
  width: 100%;
  justify-content: center;
  display: flex;
  margin-top: 68px;

  .content {
    z-index: 1;
    width: 72rem;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .content-left {
      z-index: 1;

      .flow {
        border: 1px solid rgb(0 255 157 / 0.2);
        background: linear-gradient(90deg, #00ff9d, #00b36b);
        color: black;
        display: flex;
        align-items: center;

        .icon {
          font-size: 20px;
          margin-top: 3px;
          padding: 4px;
        }
      }
    }

    .btns {
      display: flex;
      justify-content: left;
    }

    .description {
      font-size: 20px;
      color: rgb(148 163 184);
      margin: 30px 0;

    }
  }

  .title {
    font-size: 57px;
    font-weight: 700;

    .lab {
      background: linear-gradient(90deg, #00ff9d, #00b36b);
      background-clip: text;
      color: transparent;
    }
  }
}

.content-right {
  .right-content {
    color: #00b36b;
  }
}
.stack-item {
  display: flex;
  height: 50px;
  line-height: 50px;
  align-items: center;
  .label {
    display: flex;
    flex: 0 0 100px;
  }
  .progress {
    display: flex;
    flex: 0 0 20rem;
    height: 13px;
    background: rgb(24, 28, 40);
    border-radius: 10px;
    // border: 1px solid #747bff;
    // box-shadow: 0px 0px 5px #00b36b9e;
    background: #f6f8fa21;
    position: relative;
    .val {
      top: -13px;
      position: absolute;
      font-size: 14px;
      color: rgb(226, 232, 240);
      width: 60px;
    }
  }
  .stack-process {
    border-radius: 10px;
    position: absolute;
    height: 100%;
    background: linear-gradient(90deg, #00b36b,#00b36b, #00ff9d);
  }
}
